.contacts {
  background: @basic_white;

  @media (min-width: @desktop) {
    position: relative;
  }
}

.contacts__wrapper {
  padding: 0 20px;

  @media (min-width: @desktop) {
    position: absolute;
    background-color: @basic_white;
    width: 570px;
    height: 201px;
    left: 110px;
    top: 95px;
  }
}

.contacts__wrapper-form {
  background: @basic_grey;

  @media (min-width: @desktop) {
    background: @basic_white;
  }
}

.contacts__title {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  color: @text-color-unusual;
  text-transform: uppercase;

  @media (min-width: @tablet) {
    font-size: 20px;
    line-height: 21px;
    width: 171px;
    padding: 0 15px;
  }

  @media (min-width: @desktop) {
    font-size: 20px;
    line-height: 21px;
    margin-left: 76px;
    margin-top: 35px;
  }
}

.contacts__address {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;

  @media (min-width: @tablet) {
    font-size: 16px;
    line-height: 20px;
    width: 159px;
  }

  @media (min-width: @desktop) {
    margin-right: 89px;
    margin-top: 17px;
  }
}

.contacts__item {
  display: flex;
  padding: 22px 0;

  @media (min-width: @tablet) {
    width: 100%;
    height: 201px;
    justify-content: space-between;
  }
}

.contacts__map {
  width: 100%;
  height: 362px;

  @media (min-width: @tablet) {
    height: 400px;
  }
}
