.contacts {
  background: @basic_white;
}

.contacts__title {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  color: @text-color-unusual;
  text-transform: uppercase;
}

.contacts__address {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}

.contacts__map {
  width: 100%;
}

