.example {
  background: #eaeaea;
  color: @text-color;
}

.example__title {
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 40px;
  padding-left: 20px;
  padding-top: 20px;

  @media (min-width: @tablet) {
    font-size: 60px;
    line-height: 60px;
  }
}

.example__text {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  padding: 0 20px;

  @media (min-width: @tablet) {
    font-size: 16px;
    line-height: 24px;
  }
}

.example__highlights {
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;

  @media (min-width: @tablet) {
    font-size: 30px;
    line-height: 37px;
  }
}

.example__statistics-item {
  font-family: "Arial", sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 12px;
  color: @special_dark-grey;

  @media (min-width: @tablet) {
    font-size: 14px;
    line-height: 14px;
  }
}

.example__subtitle {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;

  @media (min-width: @tablet) {
    font-size: 20px;
    line-height: 20px;
  }
}

.example__slider-button {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
  border: 0;

  @media (min-width: @tablet) {
    font-size: 20px;
    line-height: 30px;
  }
}

.example__statistics {
  list-style-type: none;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 35px;
  padding: 0 20px;
  text-align: center;
}

.example__statistics-block {
  margin-right: 24px;
}
