.footer {
  background: @basic_grey;
}

.footer__title {
  font-family: "Arial", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}

.footer__wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  @media (min-width: @tablet) {
    display: flex;
    flex-direction: row;
  }
}


.footer__block-logo {
  padding: 0 96px;

  @media (min-width: @desktop) {
    width: 33.33%;
  }
}

.footer__copyright-link {
  display: flex;
  justify-content: space-between;
}

.footer__copyright {
  @media (min-width: @desktop) {
    width: 33.33%;
    display: flex;
    align-content: stretch;
    justify-content: flex-end;
  }
}
