.form__fieldset {
  border: none;
  display: flex;
  flex-direction: column;
}

@media (min-width: @tablet) {
  .form__fieldset-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.form__text {
  color: @text-color;
}

.form__input {
  text-transform: uppercase;
}

.form__textarea {
  text-transform: uppercase;

  @media (min-width: @tablet) {
    width: 631px;
    height: 174;
    margin: 0 auto;
  }

  @media (min-width: @desktop) {
    width: 1220px;
    height: 174;
    margin: 0 auto;
  }
}

.form__label {
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  background-size: 20px 20px;
  background-repeat: no-repeat;

  &--email {
    background-image: url("../img/icon_email-mobile.svg");
  }

  &--phone {
    background-image: url("../img/phone-mobile.svg");
  }
}

.form__radio-label {
  .form__label ();
}

.form__heading {
  font-size: 24px;
  line-height: 26px;
  color: @text-color;
}

.form__caption {
  font-size: 24px;
  line-height: 26px;
  color: @text-color;
}

.form__checkbox-label {
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
}

.form__button {
  color: @basic_white;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}

.form__information {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 16px;
}

.form__checkbox-wrapper {
  width: 178px;
  height: 30px;

  @media (min-width: @tablet) {
    width: 221px;
    height: 40px;
  }
}

.form__container {
  display: flex;
  flex-direction: column;

  @media (min-width: @desktop) {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
}
