.main-nav {
  color: @text-color;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
}

@media (min-width: @tablet) {
  .main-nav__wrapper {
  display: flex;
  flex-direction: row;
  }
}

.main-nav__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;

  @media (min-width: @desktop) {
    z-index: 1;
  }
}
