.main-nav {
  color: @text-color;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  position: relative;
}

@media (min-width: @tablet) {
  .main-nav__wrapper {
    display: flex;
    flex-direction: row;
  }
}

.main-nav__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;

  @media (min-width: @desktop) {
    z-index: 1;
  }
}

.main-nav__toggle {
  width: 24px;
  height: 16px;
  position: absolute;
  top: -25px;
  left: 230px;
  cursor: pointer;
  border: 0;
  background-color: @text-color;
}

@media (min-width: @tablet) {
  .main-nav__toggle {
    display: none;
  }
}

.main-nav--opened .main-nav__toggle {
  width: 24px;
  top: -25px;
  left: 230px;
  border: 0;
  cursor: pointer;

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: -25px;
    left: 230px;
    width: 24px;
    height: 2px;
    background-color: @text-color;
  }

  &::before {
    transform: rotate(45deg);
  }

  &::after {
    transform: rotate(-45deg);
  }
}

.main-nav--closed .main-nav__toggle {
  top: -20px;
  left: 230px;
  width: 24px;
  height: 2px;
  border: 2px;
  cursor: pointer;
  background-color: @text-color;

  &::before,
  &::after {
    content: "";
    top: -15px;
    left: 230px;
    width: 24px;
    height: 2px;
    border: 2px;
    cursor: pointer;
    background-color: @text-color;
  }
}

@media (max-width: @mobile) {
  .main-nav--closed {
    display: none;
  }
}
