.page {
  font: 400 14px "Oswald", "Arial", sans-serif;
  color: #444444;
  text-decoration: none;
}

.page-main__title {
  font-size: 36px;
  font-weight: 400;
  line-height: 36px;
  color: @text-color;
}

.page__body {
  width: 280px;
  padding: 0 20px;
  margin: 0 auto;
}
