.page {
  font: 400 14px "Oswald", "Arial", sans-serif;
  color: #444444;
  text-decoration: none;
}

.page-main__title {
  font-size: 36px;
  font-weight: 400;
  line-height: 36px;
  color: @text-color;
}

.page__body {
  width: 280px;
  padding: 0 20px;
  margin: 0 auto;
  @media (min-width: @tablet)
  {
  width: 768px;
  padding: 0 64px;
  margin: 0 auto;
  }
  @media (min-width: @desktop)
  {
  width: 1440px;
  padding: 0 110px;
  margin: 0 auto;
  }

}

@media (min-width: @tablet) {
  .page-header__toggle {
  .visually-hidden()
  }
}

@media (min-width: @desktop) {
  .page-header__toggle {
  .visually-hidden()
  }
}
