.product__image {
  width: 140px;
  height: 112px;

  @media (min-width: @tablet) {
    width: 168px;
    height: 200px;
  }
}

.product__image-plus {
  text-align: center;
  margin-bottom: 23px;
}

.product__link {
  text-decoration: none;
}

.product__name {
  color: @special_dark-grey-2;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
  padding-bottom: 18px;
  padding-top: 19px;
  margin: 0;
  width: 76px;

  @media (min-width: @tablet) {
    text-align: center;
    font-size: 20px;
    line-height: 24px;
    width: 159px;
    padding-left: 30px;
  }
}

.product__table {
  font-size: 12px;
  line-height: 16px;
  color: @special_dark-grey;
  font-family: "Arial", sans-serif;
  width: 140px;

  @media (min-width: @tablet) {
    font-size: 16px;
    line-height: 16px;
    width: 252px;
  }

  @media (min-width: @desktop) {
    width: 190px;
  }
}

.product__table-border {
  @media (min-width: @tablet) {
    border-bottom: solid 1px @special_grey;
  }
}

.product__button {
  color: @basic_white;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  width: 280px;
  height: 40px;
  padding: 10px 110px 10px 110px;

  @media (min-width: @tablet) {
    width: 248px;
    padding: 10px 93px 10px 93px;
    margin-bottom: 39px;
  }

  @media (min-width: @tablet) {
    width: 168px;
    padding: 10px 53px 10px 53px;
  }
}

.product__wrapper {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 22px;

  @media (min-width: @tablet) {
    flex-direction: column;
    background: @basic_grey;
    border: solid 1px #e6e6e6;
    margin-right: 30px;
    align-items: center;
  }
}

.product__table-meaning {
  text-align: right;
}

.product__description {
  margin-bottom: 25px;
}
