.programs {
  background-color: @basic_white;
}

.programs__title {
  color: @text-color;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
}

.programs__list {
  list-style: none;
  padding: 0;
}

.programs__item {
  background-size: 60px 60px;
  background-repeat: no-repeat;
  margin-bottom: 20px;


  &--leaf {
    background-image: url("../img/leaflet-mobile.svg");
  }

  &--powder {
    background-image: url("../img/powder-mobile.svg");
  }

  &--cutlery {
    background-image: url("../img/cutlery-mobile.svg");
  }

  &--time {
    background-image: url("../img/clock-mobile.svg");
  }
}

.programs__text {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}

