.programs {
  background-color: @basic_white;
}

.programs__wrapper {
  padding: 0 20px;

  @media (min-width: @tablet) {
    padding: 0 30px;
    border-bottom: 1px solid #e6e6e6;
    width: 768px;
  }

  @media (min-width: @desktop) {
    padding: 0 110px;
    width: 100%;
    border-bottom: none;
  }
}

.programs__title {
  color: @text-color;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  margin-bottom: 37px;

  @media (min-width: @tablet) {
    font-size: 60px;
    line-height: 60px;
  }
}

.programs__list {
  list-style: none;
  padding: 0;

  @media (min-width: @tablet) {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }

  @media (min-width: @desktop) {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
  }
}

.programs__item {
  background-size: 60px 60px;
  background-repeat: no-repeat;
  margin-bottom: 27px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;


  &--leaf {
    background-image: url("../img/leaflet-mobile.svg");
    padding-right: 24px;

    &::before {
      content: "1";
      opacity: 0;
    }
  }

  &--powder {
    background-image: url("../img/powder-mobile.svg");

    &::before {
      content: "2";
      opacity: 0;
    }
  }

  &--cutlery {
    background-image: url("../img/cutlery-mobile.svg");
    padding-right: 17px;

    &::before {
      content: "3";
      opacity: 0;
    }
  }

  &--time {
    background-image: url("../img/clock-mobile.svg");

    &::before {
      content: "4";
      opacity: 0;
    }
  }


  @media (min-width: @tablet) {
    background-size: 80px 80px;
    width: 230px;
    height: 280px;
    display: flex;
    flex-direction: column;
    counter-reset: section;
    position: relative;

    &::before {
      //counter-increment: section;
      //content: counter(section) "";
      font-size: 280px;
      line-height: 280px;
      color: @basic_grey;
      position: absolute;
      left: 148px;
      bottom: 40px;
      opacity: 0.6;
    }
  }
}

.programs__text {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  margin: 0;

  @media (min-width: @tablet) {
    width: 230px;
    height: 280px;
    font-size: 16px;
    line-height: 24px;
    padding-top: 110px;
  }
}
