.site-list__item {
  list-style: none;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  padding: 22px 20px 21px;
  text-align: center;
  border-top: solid 1px #e6e6e6;

  @media (min-width: @tablet) {
    font-size: 18px;
    line-height: 24px;
    border-top: none;
  }

  @media (min-width: @desktop) {
    font-size: 20px;
    line-height: 30px;
    border-top: none;
  }
}

.site-list__link {
  text-decoration: none;
  color: @text-color;
  font-family: "Oswald", sans-serif;

  @media (max-width: @mobile) {
    &--white {
      text-decoration: none;
      color: @text-color;
    }
  }

  @media (min-width: @tablet) {
    &--white {
      text-decoration: none;
      color: @text-color;
    }
  }

  @media (min-width: @desktop) {
    font-size: 20px;
    line-height: 30px;

    &--white {
      color: @basic_white;
      text-decoration: none;
    }
  }
}

.site-list__link-form {
  text-decoration: none;
  color: #000000;
  font-family: "Oswald", sans-serif;

  @media (min-width: @desktop) {
    font-size: 20px;
    line-height: 30px;
  }
}

.site-list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0;
}

@media (min-width: @tablet) {
  .site-list {
    width: 100%;
    flex-direction: row;
    padding-left: 34px;
  }
}

@media (min-width: @desktop) {
  .site-list {
    width: 478px;
    display: flex;
    flex-direction: row;
    padding-left: 34px;
  }
}
